<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Deepthi Suite">




<test name="Testing Assertions">
    <classes>
        <class name="tests.UsingAssertions" ></class>  
    </classes>
</test>



<test name="Deepthi Login Test">
    <classes>
        <class name="tests.LoginTest" ></class>  
    </classes>
</test>


</suite>
